<div class="d-flex w-100 justify-content-between mt-5 ml-5 mr-5">
  <div class="d-flex flex-wrap flex-column">
    <span class="display-4">Covid-19 Tracker</span>
    <span class="h3">For Net Engineering Course</span>
  </div>
  <div id="credit">
    <img src="/Assets/img/Pouria.jpg" class="rounded-circle mt-1" />
    <div class="d-flex flex-column">
      <span class="h6 mt-2">By Pouria Mousavi</span>
      <span class="font-weight-light">pouriaux@gmail.com</span>
    </div>
  </div>
</div>
