<html>
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/Assets/css/style.css" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen and (max-width: 1400px)"
      href="/Assets/css/style.css"
    />
    <script src="https://unpkg.com/eva-icons"></script>
    <title>Covid-19 Tracker</title>
  </head>
  <body class="bg-light">
    <div class="container-fluid d-flex flex-wrap justify-content-center">
      <!--Top Bar-->
      <%- include('partials/topbar') %>

      <!--List Section-->
      <div class="container-fluid d-flex flex-wrap row mt-5 pl-5 pr-5">
        <% for(var j=0;j<data.length-1;j++){ %>
        <div class="col-xl-3 col-lg-4 col-sm-6 mt-4">
          <%- include('partials/box',{data:data,helpers:helpers,j:j}) %>
        </div>
        <% } %>
      </div>
    </div>

    <script>
      eva.replace();
    </script>
  </body>
</html>
